internal/soapgen/testdata/document_literal_consistent_wrappers/definitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/document-literal-test"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/document-literal-test">

    <types>
        <xs:schema targetNamespace="http://example.com/document-literal-test"
            elementFormDefault="qualified">

            <!-- Core data types (inner types) -->
            <xs:element name="LoginRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string" />
                        <xs:element name="password" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sessionId" type="xs:string" />
                        <xs:element name="success" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UserInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userId" type="xs:long" />
                        <xs:element name="name" type="xs:string" />
                        <xs:element name="email" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="xs:string" />
                        <xs:element name="role" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- SOAP message wrapper elements (outer wrappers) -->
            <!-- These should ALL get "Wrapper" suffix for consistency in Document/Literal -->

            <!-- Login operation wrappers -->
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:LoginRequest" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:LoginResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- GetUser operation wrappers -->
            <xs:element name="getUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:UserInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:GetUserResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Logout operation wrappers (simple case) -->
            <xs:element name="logout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sessionId" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="logoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="success" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Non-operation element (should NOT get wrapper suffix) -->
            <xs:element name="ServerConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="version" type="xs:string" />
                        <xs:element name="environment" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </types>

    <!-- Messages -->
    <message name="LoginRequestMessage">
        <part element="tns:login" name="body" />
    </message>
    <message name="LoginResponseMessage">
        <part element="tns:loginResponse" name="body" />
    </message>
    <message name="GetUserRequestMessage">
        <part element="tns:getUser" name="body" />
    </message>
    <message name="GetUserResponseMessage">
        <part element="tns:getUserResponse" name="body" />
    </message>
    <message name="LogoutRequestMessage">
        <part element="tns:logout" name="body" />
    </message>
    <message name="LogoutResponseMessage">
        <part element="tns:logoutResponse" name="body" />
    </message>

    <!-- Port Type -->
    <portType name="TestServicePortType">
        <operation name="Login">
            <input message="tns:LoginRequestMessage" />
            <output message="tns:LoginResponseMessage" />
        </operation>
        <operation name="GetUser">
            <input message="tns:GetUserRequestMessage" />
            <output message="tns:GetUserResponseMessage" />
        </operation>
        <operation name="Logout">
            <input message="tns:LogoutRequestMessage" />
            <output message="tns:LogoutResponseMessage" />
        </operation>
    </portType>

    <!-- SOAP Binding (Document/Literal) -->
    <binding name="TestServiceBinding" type="tns:TestServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="Login">
            <soap:operation soapAction="http://example.com/document-literal-test/Login" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetUser">
            <soap:operation soapAction="http://example.com/document-literal-test/GetUser" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Logout">
            <soap:operation soapAction="http://example.com/document-literal-test/Logout" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="TestService">
        <port name="TestServicePort" binding="tns:TestServiceBinding">
            <soap:address location="http://example.com/test" />
        </port>
    </service>

</definitions>
