internal/soapgen/testdata/inline_complex_types/definitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/test"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/test">

    <types>
        <xs:schema targetNamespace="http://example.com/test" elementFormDefault="qualified">

            <!-- Test inline complex types that should generate Outer_Inner naming -->
            <xs:element name="Order">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customer">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="xs:string" />
                                    <xs:element name="address">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="street" type="xs:string" />
                                                <xs:element name="city" type="xs:string" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="items">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="item" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="product" type="xs:string" />
                                                <xs:element name="quantity" type="xs:int" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </types>

</definitions>
